*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.button{
    padding: 10px;
    color: white;
    background-color: darkred;
    border-color: darkred;
    border-radius: 10px;
    font-size: 30px;
}

.griglia{
    display: flex;
    flex-wrap: wrap;
}

.celle{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    aspect-ratio: 1;
}